{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <style>
        table {
          width: 100%;
          table-layout: fixed;
          border-collapse: collapse;
        }
      
        th, td {
          border: 1px solid black;
          padding: 8px;
          text-align: center;
          word-wrap: break-word; /* Ensures long text wraps instead of stretching */
        }
      
        th:nth-child(1) { width: 5%; }  /* # Column */
        th:nth-child(2) { width: 20%; } /* Recipe Name */
        th:nth-child(3) { width: 35%; } /* Recipe Description */
        th:nth-child(4) { width: 20%; } /* Image */
        th:nth-child(5) { width: 20%; }
        
        img {
          height: 150px; /* Set fixed height */
          width: auto;  /* Auto-adjust width */
          display: block;
          margin: auto;
        }
      </style>
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Log-In</h2>
        <hr>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
         
          <button type="submit" class="btn btn-primary">Submit</button>
    </hr>
      </form>
      

      

</div>

{% endblock%}